body {
    background: #292F5C;
    color: #fff
}

#form .form-title {
    font-family: 'Lato', sans-serif;
}

#password_match_info {
    margin-top: 0px;
    font-size: 13px;
    color: red;
}

.error {
    color: red;
    padding: 0px 8px 0px 8px;
    margin: -25px 0px -20px 0px;
}